<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

<form action="register" method="POST"> <!-- call register with post method-->
    {% csrf_token %}
    <input type="text" , name = "first_name", placeholder="Enter Your First Name"><br>
    <input type="text" , name = "last_name", placeholder="Enter Your Last Name"><br>
    <input type="text" , name = "username", placeholder="Enter Your Username"><br>
    <input type="email" , name = "email", placeholder="Enter a Valid Email"><br>
    <input type="password" , name = "password1", placeholder="Enter Your Passwor"><br>
    <input type="password" , name = "password2", placeholder="Conform Your Password"><br>
    <input type="Submit">
</form>
<div>
    {%for message in messages%} <!-- you have to loop through the messages to show which massages were came-->
    <h3>{{message}}</h3>
    {%endfor%}
</div>
</body>
</html>